@import url('https://fonts.googleapis.com/css?family=Lacquer:100,200,300,400,500,600,700|Beth+Ellen:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700');

/*-------------------------------Website Name */

.name {
    font-family: "Beth+Ellen";
     font-weight: 100;
    font-size: 80px;
    margin-top: 70px;
    text-align: center;
    color: #808080;
}

.name3 {
    font-family: "Beth+Ellen";
     font-weight: 60;
    font-size: 50px;
    margin-top: 70px;
    text-align: center;
    color: #808080;
}

/*-------------------------------Background */

body {
    background: #fff5ee;
}

/*-------------------------------Social */

.social-links {
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 20%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #8ca3a3;
    background: #fff5ee;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-------------------------------menu */


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#nav li {
    font-size: 20px;
    font-family: 'Beth+Ellen';
    padding: 0;
}

.menuitem {
    text-align: center;
    padding: 0;
}

.body {
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #808080;
}

.hvr-underline-from-center:before {
    background-color: #ffffff;
    color: #d3d3d3;
}


.a:hover {
    text-decoration: none;
}

/*-------------------------------Footer */


footer {
    background-color: #666633;	
    color: #ffffff;
    min-height: 120px;
    margin: 0;
}

.address {
    color: #ffffff;
    text-align: center;
    font-family: "Beth+Ellen";
    padding-top: 20px;
    font-size: 20px;
}
.email {
    color: #ffffff;
    text-align: center;
    font-family: "Beth+Ellen";
    padding: 10px;
    font-size: 20px;
}

.social-links2 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.social-links2 li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 20%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
    background: #5563f46;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-------------------------------Photos */

.purchased {
    font-family: 'pacifico';
    font-weight: 100;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    color: #808080;
}

.gender {
    color: #808080;
    font-family: "Beth+Ellen";
}

.dc-chart rect.bar {
fill: #666633;
}

.gender-balance {
    color: #808080;
}

.info {
    font-family: "pacifico";
    color: #808080;
    text-align: center;
}

.info2 {
    font-family: "pacifico";
    color: #808080;
    text-align: center;
}

.info3 {
    font-family: "pacifico";
    color: #808080;
    text-align: center;
}

.shade {
    color: #ffffff;
    font-family: "Beth+Ellen";
}

/*-------------------------------contact */

.contact-heading {
    font-family: "Beth+Ellen";
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #808080;
}

.text-center {
    font-family: "pacifico";
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #808080;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    font-family: "Beth+Ellen";
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #666633;
    color: #fafafa;
    font-family: "Beth+Ellen";
}

.chat {
   font-family: "Beth+Ellen";
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #808080;  
}

.number {
     font-family: "pacifico";
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #808080;
}