@import url('https://fonts.googleapis.com/css?family=Lacquer:100,200,300,400,500,600,700|Beth+Ellen:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700|Amatic+SC:100,200,300,400,500,600,700');

/*-------------------------------Website Name */

.name {
    font-family: "Beth+Ellen";
     font-weight: 100;
    font-size: 80px;
    margin-top: 70px;
    text-align: center;
    color: #ffffff;
}

.name3 {
    font-family: "Amatic SC";
     font-weight: 60;
    font-size: 50px;
    margin-top: 70px;
    text-align: center;
    color: #595959;  
}

/*-------------------------------Background */

body {
  background-color:	 #dbceb0;
}

/*-------------------------------Social */

.social-links {
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 20%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #8ca3a3;
    background: #dbceb0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-------------------------------menu */


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#nav li {
    font-size: 20px;
    font-family: 'Beth+Ellen';
    padding: 0;
}

.menuitem {
    text-align: center;
    padding: 0;
}

.body {
    text-align: center;
}


.menuitem2 a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #808080;
}

.hvr-underline-from-center:before {
    background-color: #ffffff;
    color: #d3d3d3;
}


.a:hover {
    text-decoration: none;
}

/*-------------------------------Footer */


.bottom {
    background-color: #666633;	
    color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.address {
    color: #ffffff;
    text-align: center;
    font-family: "Beth+Ellen";
    padding-top: 20px;
    font-size: 20px;
}
.email {
    color: #ffffff;
    text-align: center;
    font-family: "Beth+Ellen";
    padding: 10px;
    font-size: 20px;
}

.social-links2 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.social-links2 li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 20%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-------------------------------Home */

.index {
  background-image: url("../images/bushes.jpg");
  background-color: #fff5ee;
  height: 500px;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: scroll;
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position:absolute;
  top: 0;
  left: 0;
}

body {
  font-family: "Beth+Ellen", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #666633;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Amatic SC";
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: relative;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/*-------------------------------Bio */

.silhouette {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hereford {
  background-color: #666633;
}

.bio {
  font-family: "Beth+Ellen";
  text-align: justify;
  padding: 20px;
  margin: 20px;
  color: #ffffff;
}

.camera2 {
 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 100%;
  padding: 20px;
  background-color: #fff5ee;
}

* {
  box-sizing: border-box;
}

.portfolio {
  font-family: "Beth+Ellen"
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 10px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #dbceb0;
  padding: 10px;
  font-family: "Beth+Ellen";
  text-align: center;
}

.nature {
  display: none;
}

.cars {
  display: none;
}

.animals {
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #666633;	
  color: #ffffff;
  font-family: "Beth+Ellen";
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #fff5ee;
  color: #808080;
}

/*-----------------------------Photos (Used W3 Schools to help with code, made my own modifications and altered coding)*/

.accordion {
  background-color: #666633;
  color: #ffffff;
  font-family: "Beth+Ellen";
  text-align: center;
  cursor: pointer;
  padding: 18px;
  margin: 20px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 30px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #fff5ee; 
   color: #808080;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #dbceb0;
  overflow: hidden;
  font-family: "Beth+Ellen";
  color: #808080;
  text-align: left;
  width: 50%
  font-size: 20px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #666633;
}

.modal-content {
  position: relative;
  background-color: #fff5ee;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #fff5ee;
}

.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  font-family: "Beth+Ellen"
  padding: 2px 16px;
  color: #808080;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*-------------------------------Pricing */
.dropbtn {
  background-color: #666633;
  color: white;
  font-family: "Pacifico";
  padding: 16px;
  margin-top: 20%;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #fff5ee;
  color: #808080;
}

.dropdown {
  position: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: center;
  margin-right: 50%;
  margin-left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff5ee;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #808090;
  font-family: "Pacifico";
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #666633;}

.show {display: block;}

/*-------------------------------Cars, Landscape, Anoimals */
.canvas {
  color: #808080;
  font-family: "Pacifico";
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Beth+Ellen";
  color: #808080;
  background-color: #fff5ee;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #fff5ee;
  background-color: #666633;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


/*-------------------------------Checkout */

.checkout {
  font-family: "Amatic SC";
  color: #808080;
  text-align: center;
  margin: 20px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container-checkout {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-family: "Beth+Ellen";
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #666633;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #fff5ee;
}

a {
  color: #808080;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*-------------------------------Gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/*-------------------------------contact */

.contact-heading {
    font-family: "Beth+Ellen";
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #808080;
}

.text-center {
    font-family: "pacifico";
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #808080;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    font-family: "Beth+Ellen";
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #666633;
    color: #fafafa;
    font-family: "Beth+Ellen";
}

.chat {
   font-family: "Beth+Ellen";
    font-weight: 100;
    margin-top: 180px;
    margin-bottom: 20px;
    text-align: center;
    color: #595959;  
}

.number {
    font-family: "Beth+Ellen";
    font-weight: 100;
    margin-top: 125px;
    margin-bottom: 50px;
    text-align: center;
    color: #808080;
}

.laptop {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90%;
}

.phone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 8px;
}


/*-------------------------------map API */

div#map {min-height: 360px;}